<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Questions CRUD</title>
    <link rel="shortcut icon" href="https://cdn.psychologytoday.com/sites/default/files/styles/article-inline-half/public/field_blog_entry_images/2017-08/questionmarks.png?itok=kfiEUAtB" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+KuaiLe" rel="stylesheet"> <!--get universal fonts from google fonts-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> <!--get inbuilt bootstrap features using predefined classes from getbootstrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> <!--icon font from font awesome-->
    <link rel="stylesheet" href="../css/design.css">
    <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
    <script src="../js/utils/database.js"></script>
    <script src="../js/utils/commonutils.js"></script>
    <script src="../js/controllers/question.js"></script>
    <script src="../js/models/questionOperations.js"></script>
    <script src="../js/models/question.js"></script>
</head>
<body style="background-image:url(../../css/bg2.png);  background-repeat: no-repeat; background-size: cover;">
  <div id="testin"><br>
    <br>
    <br>
    <br>
    <br>
    <div  class="container rounded border border-success bg-light">
      <br>
        <div class="form-group h2"><label for="testnm">Test Name:</label><input id="testnm" type="text" placeholder="Type Test Name" class="form-control"></div><br>
        <div class="form-group h2"><label for="testtm">Test Duration:</label><input id="testtm" type="time" class="ml-md-5 px-md-5 rounded"></div>
        <div class="text-right mr-2 h3"><button id="create" class="btn btn-primary"  title="">&nbsp;Create/Update</button></div>
        <br>
        <br>
    </div>
  </div>

    
    <div id="main" class="container rounded border border-danger bg-light hide" style="margin-top: 10px;">
        
        <h1 class="alert-info text-center">Questions CRUD</h1>
        <div id="loading"class=" text-center hide">
                <br>
                      <div class="spinner-grow text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-secondary" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-danger" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-warning" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-info" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      <div class="spinner-grow text-dark" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                      
        </div>
        <br>
        <div  onmouseenter="speak(this)" class="form-group"><label for="id">Question Id:</label><label onmouseenter="callMe(this)" id="id" class='form-control'></div>
        <div  onmouseenter="speak(this)" class="form-group"><label for="name">Name:</label><textarea onmouseout="callMe(this)" id="name" placeholder="Type Question Here" class='form-control' rows="6" cols="20"></textarea></div>
        <div  onmouseenter="speak(this)" class="form-group"><label for="optionA">Option A:</label><input onmouseout="callMe(this)" id="optionA" type="text" placeholder="Type 1st Option" class="form-control"></div>
        <div  onmouseenter="speak(this)" class="form-group"><label for="optionB">Option B:</label><input onmouseout="callMe(this)" id="optionB" type="text" placeholder="Type 2nd Option" class="form-control"></div>
        <div  onmouseenter="speak(this)" class="form-group"><label for="optionC">Option C:</label><input onmouseout="callMe(this)" id="optionC" type="text" placeholder="Type 3rd Option" class="form-control"></div>
        <div  onmouseenter="speak(this)" class="form-group"><label for="optionD">Option D:</label><input onmouseout="callMe(this)" id="optionD" type="text" placeholder="Type 4th Option" class="form-control"></div>
        <label for="rightAns">Right Answer:</label>
        <div  onmouseenter="speak(this)" id="rightAns" class="form-group">
          <br>
          <input onmouseout="callMe(this)" id="A" value="A" name="chooseone" type="radio">A
          <br>
          <input onmouseout="callMe(this)" id="B" value="B" name="chooseone" type="radio">B
          <br>
          <input onmouseout="callMe(this)" id="C" value="C" name="chooseone" type="radio">C
          <br>
          <input onmouseout="callMe(this)" id="D" value="D" name="chooseone" type="radio">D
        </div>
        <div  onmouseenter="speak(this)" class="form-group"><label for="score">Score: <span id="scr">3</span></label><input onmouseout="callMe(this)" id="score" type="range" min="1" max="5" class="form-control"></div>
        
    <br>
        
        <div  class="text-center">
            <div class="shadow p-3 mb-5 bg-white rounded">
            <button onmouseenter="speak(this)" id="add" class="btn btn-outline-success mr-2"  title="Add question to list"><i class="fas fa-plus-square"></i>&nbsp;Add</button>
            <button onmouseenter="speak(this)" id="delete" class="btn btn-outline-danger mr-2" title="Delete marked questions"><i class="fas fa-trash-alt"></i>&nbsp;Delete</button>
            <button onmouseenter="speak(this)" id="search" class="btn btn-outline-info mr-2" title="Search questions"><i class="fas fa-search"></i>&nbsp;Search</button>
            <button onmouseenter="speak(this)" id="sort" class="btn btn-outline-primary mr-2" title="Sort questions list"><i class="fas fa-sort"></i>&nbsp;Sort</button>
            <button onmouseenter="speak(this)" id="save" class="btn btn-outline-warning mr-2" title="Save to local storage"><i class="fas fa-save"></i>&nbsp;Save</button>
            <button onmouseenter="speak(this)" id="load" class="btn btn-outline-secondary mr-2" title="Load from local storage"><i class="fas fa-spinner"></i>&nbsp;Load</button>
            <button onmouseenter="speak(this)" id="update" class="btn btn-outline-warning mr-2" title="Update question"><i class="fas fa-edit"></i>&nbsp;Update</button>
            <button onmouseenter="speak(this)" id="saveToServer" class="btn btn-outline-success mr-2" title="Save questions to Server"><i class="fas fa-cloud-upload-alt"></i>&nbsp;Save to Server</button>
            <button onmouseenter="speak(this)" id="clearAll" class="btn btn-outline-danger mr-2" title="Clear all questions"><i class="fas fa-ban"></i>&nbsp;Clear All</button>
            </div>
            <div id="sortDiv" class="hide">
                    <br><br>
                <label for="">Sort By:</label>
                <select id="sortBy">
                    <option value="null">Select parameter</option>
                    <option value="id">Id</option>
                    <option value="name">Name</option>
                    <option value="score">Score</option>
                </select>
                <input id="ascDsc" type="checkbox"> Desc
            </div>
            <div id="searchDiv" class="hide">
                    <br><br>
                <label for="">Search By:</label>
                <select id="searchBy">
                    <option value="id">Id</option>
                    <option value="name">Name</option>
                    <option value="score">Score</option>
                </select>
                <input id="searchKey" type="text" placeholder="Type key">
            </div>
        </div>
        
        <br>
        <h2><i class="fas fa-list-ol"></i>&nbsp;&nbsp;Total Records : <span id="total"></span></h2>
        <h3>&nbsp;&nbsp;<i class="fas fa-hand-point-right"></i>&#09;Marked for deletion : <span id="mark">0</span></h3>
        <h3>&nbsp;&nbsp;<i class="fas fa-hand-point-right"></i>&#09;Unmarked : <span id="unmark">0</span></h3>
        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>A</th>
                        <th>B</th>
                        <th>C</th>
                        <th>D</th>
                        <th>Correct</th>
                        <th>Score</th>
                        <th>Operations</th>
                    </tr>
                </thead>
                <tbody id="questions" class="">
                
                </tbody>
            </table>
        </div>
        <br>
        <div class="text-right">
        <a onmouseenter="speak(this)" id="fin" class="btn btn-success mr-2 text-center"  title="Create test" role="button"><i class="fas fa-check-double"></i>&nbsp;Finish</a>
        </div>
        <br>
    <br>
    <br>
    </div>
    <br>
    <br>
    <br>
</body>
</html>
